#ContPopHeader {
  height: 40px;
}
.header_digitalspecial {
  position: fixed;
  max-width: 600px;
  width: 100%;
  z-index: 999;
}
#byline {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 20vh;
  background-color: #EAEAEA;
}
.ByLine {
  position: absolute;
  width: auto;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
.comment-container {
  position: relative;
  max-width: 600px;
  width: 100%;
  letter-spacing: 0px;
}
.whiteSpace {
  position: relative;
  max-width: 600px;
  height: 121px;
  background-color: #FFF;
}
#MiseLab_13 {
  background-color: #FFF;
}
.btnTop {
  position: fixed;
  width: 47px;
  height: 47px;
  left: 12px;
  bottom: 24px !important;
  background: url('https://images.joins.com/ui_joongang/news/mw/common/b_hometop.png') 0 -42px no-repeat;
  background-size: 47px 200px;
  background-position: 0 3px;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 100;
}
.btn_close {
  width: 45px;
  height: 45px;
}
.ContentswhiteSpace {
  position: relative;
  max-width: 583px;
  height: 13.5vh;
  background-color: #FFF;
}
.btn_close_mise {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  right: 15px;
  margin: 0 !important;
  z-index: 2;
}
.standardFrame {
  position: relative;
}
#pg4Go {
  position: absolute;
  width: 78.5%;
  height: auto;
  top: 82.5%;
  left: 50%;
  transform: translateX(-50%);
}
.YesBtn {
  position: absolute;
  width: 40%;
  height: auto;
  top: 73.7%;
  left: 10.5%;
}
.NoBtn {
  position: absolute;
  width: 40%;
  height: auto;
  top: 73.7%;
  left: 49.5%;
}
.miseQ {
  position: relative;
  display: none;
}
.PlantsInfo {
  position: relative;
}
.PlantsInfo #plant_arecapalm {
  position: relative;
  display: none;
}
.PlantsInfo #plant_yulma {
  position: relative;
  display: none;
}
.PlantsInfo #plant_moneytree {
  position: relative;
  display: none;
}
.PlantsInfo #plant_staghornfern {
  position: relative;
  display: none;
}
.PlantsInfo #plant_stookie {
  position: relative;
  display: none;
}
.PlantsInfo #plant_tillandsia {
  position: relative;
  display: none;
}
.PlantsInfo #plant_scindapsus {
  position: relative;
  display: none;
}
.PlantsInfo #plantGoAllBtn {
  position: absolute;
  width: 59%;
  height: auto;
  top: 88%;
  left: 30%;
}
.pgAll {
  position: relative;
}
.pgAll #plantsAll {
  position: relative;
  display: none;
}
.pgAll #pgAllGoBack {
  position: absolute;
  width: 60%;
  height: auto;
  top: 85%;
  left: 20%;
}
.pgAll #ICON_moneytree {
  display: none;
  position: absolute;
  width: 16%;
  height: auto;
  top: 13.8%;
  left: 12.3%;
}
.pgAll #ICON_staghornfern {
  display: none;
  position: absolute;
  width: 29.6%;
  height: auto;
  top: 16.2%;
  left: 36.3%;
}
.pgAll #ICON_arecapalm {
  display: none;
  position: absolute;
  width: 23%;
  height: auto;
  top: 15.2%;
  left: 68.6%;
}
.pgAll #ICON_yulma {
  display: none;
  position: absolute;
  width: 13.2%;
  height: auto;
  top: 36%;
  left: 6.8%;
}
.pgAll #ICON_scindapsus {
  display: none;
  position: absolute;
  width: 28.3%;
  height: auto;
  top: 41.4%;
  left: 22.6%;
}
.pgAll #ICON_tillandsia {
  display: none;
  position: absolute;
  width: 21%;
  height: auto;
  top: 44.5%;
  left: 51.4%;
}
.pgAll #ICON_stookie {
  display: none;
  position: absolute;
  width: 16%;
  height: auto;
  top: 37.5%;
  left: 77.1%;
}
.QSpace {
  position: relative;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
}
